{% extends 'index.html'%}
{% load static %}
{% block title %}
<title>Stark | about</title>
{% endblock %}

{%block body %}
<nav class="navbar navbar-expand-lg navbar-light background mb-2">
  <div class="container-fluid">
<div class="imgn w-40">
    <img src="{% static 'images/vasu1.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"></div>
  </div>
</nav>
  <h3 class="background text-light text-center">About Company</h3>
  <div class="paragraph">
      <p>Welcome to [Stark.com], your number one source for all things [product, ie: cloths,and many more]. We're dedicated to giving you the very best of [product], with a focus on [three characteristics, ie: dependability, customer service and uniqueness.]
        Founded in [2022] by [vasu baliyan], [store name-Stark] has come a long way from its beginnings in a [starting location, toolshed, Meerut]. When [store founder] first started out, his/her passion for [passion of founder, ie: helping other parents be more eco-friendly, providing the best equipment for his fellow musicians] drove him to [action, ie: do intense research, quit her day job], and gave him the impetus to turn hard work and inspiration into to a booming online store. We now serve customers all over [place, ie: the US, the world, the Austin area], and are thrilled to be a part of the [adjective, ie: quirky, eco-friendly, fair trade] wing of the [industry type, ie: fashion, baked goods, watches] industry.
        We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
        
        Sincerely,
        Name, [ CEO, founder  Vasu Baliyan.]
        <br></br>
        <h3 class="background text-light text-center"> Our vision</h3>
        <p>Our vision is to be Earth’s most customer-centric company; to build a place where people can come to find and discover anything they might want to buy online.
        </p>
        </p>
        <img src="">
  </div>
  </div>
{% endblock %}