{% extends 'index.html' %} 
{% load cart %} 
{% load static %} 
{% block title %}
<title>MyShop | Cart</title>
{% endblock %} 
{% block body %}
<h3 class="background text-light p-3 text-center">Checkout Section</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-12">
      <h5 class="background text-light p-2 text-center">Address Detail</h5>
        <form action="/updateProfile/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" placeholder="Enter Name " value="{{User.name}}">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Enter Email Id " value={{User.email}}>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control" name="phone" placeholder="Enter Phone Number " value={{User.phone}}>
            </div>
            <div class="mb-3">
                <label for="addressline1" class="form-label">Address Line 1</label>
                <input type="text" class="form-control" name="addressline1" placeholder="Enter House Number" value="{{User.addressline1}}">
            </div>
            <div class="mb-3">
                <label for="addressline2" class="form-label">Address Line 2</label>
                <input type="text" class="form-control" name="addressline2" placeholder="Enter Street Number" value="{{User.addressline2}}">
            </div>
            <div class="mb-3">
                <label for="addressline3" class="form-label">Address Line 3</label>
                <input type="text" class="form-control" name="addressline3" placeholder="Enter Village or Locality" value="{{User.addressline3}}">
            </div>
            <div class="mb-3">
                <label for="pin" class="form-label">Pin</label>
                <input type="text" class="form-control" name="pin" placeholder="Enter pin Number " value={{User.pin}}>
            </div>
            <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" name="city" placeholder="Enter city " value="{{User.city}}">
            </div>
            <div class="mb-3">
                <label for="state" class="form-label">State</label>
                <input type="text" class="form-control" name="state" placeholder="Enter state" value="{{User.state}}">
            </div>
            
            <button type="submit" class="btn background text-light w-100">Update</button>
        </form>
    </div>  
    <div class="col-sm-6 col-12">
      <div class="table-responsive">
        <table class="table table-light table-striped table-hover">
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
          </tr>
          {% for i in Products %}
          <tr>
            <td>{{i.name}}</td>
            <td>Rs {{i.finalPrice}}</td>
            <td>{{request|cartQuantity:i.id}}</td>  
            <td>{{request|cartFinal:i.id}}</td>
          {% endfor %}
          <tr>
            <td>Total</td>
            <td></td>
            <td></td>
            <td>{{Total}}</td>
          </tr>
          <tr>
            <td>Shipping</td>
            <td></td>
            <td></td>
            <td>{{Shipping}}</td>
          </tr>
          <tr>
            <td>Final Amount</td>
            <td></td>
            <td></td>
            <td>{{Final}}</td>
          </tr>
          <tr>
            <td colspan="4">
              <form action="" method="post">
                {% csrf_token %}
                <label class="form-label">Payment Mode</label>
                <select name="mode" class="form-control">
                  <option value="cod">COD</option>
                  <option value="netbanking">Net Banking</option>
                </select>
            </td>
          </tr>
          <tr>
            <td colspan="4"><button type="submit" class="btn background text-light w-100">Place Order</button>

            </td>
          </tr>
          </form>
        </table>
      </div>
    </div>
  </div>
  </div>
  {% endblock %}

