{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>MyShop | Login</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <h3 class="background text-light p-3 text-center">Forget Password Section</h3>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="{% static '../static/images/login.jpg' %}" class="w-100">
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            {% for i in messages %}
            <div class="alert alert-danger" role="alert">
                {{i}}
              </div>
            {% endfor %}
            <form action="#" method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="password" class="form-label">Enter password</label>
                  <input type="password" class="form-control" name="password" placeholder="Enter Password">
                  <p>Make Sure your password does not contain your username</p>
                </div>
                <div class="mb-3">
                    <label for="cpassword" class="form-label">Confirm password</label>
                    <input type="password" class="form-control" name="cpassword" placeholder="Confirm Password">
                  </div>
                <button type="submit" class="btn background text-light w-100">Submit</button>
                <a href="/login/">Login</a>
              </form>
        </div>
    </div>
</div>
{% endblock %}