{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>Stark | Login</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <h3 class="background text-light p-3 text-center">Login Section</h3>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="{% static '../static/images/login.jpg' %}" class="w-100">
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            {% for i in messages %}
            <div class="alert alert-danger" role="alert">
                {{i}}
              </div>
            {% endfor %}
            <form action="#" method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="username" class="form-label">User Name</label>
                  <input type="text" class="form-control" name="username" placeholder="Enter User Name to login">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password" placeholder="Enter Password">
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
                <a href="/signup/">New User?Sign UP</a>
                <a href="/forgetPassword/">/Forget Password</a>
              </form>
        </div>
    </div>
</div>
{% endblock %}