{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>Stark | Login</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <h3 class="background text-light p-3 text-center">Sign-Up Section</h3>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="{% static '../static/images/signup.jpg' %}" class="w-100">
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            {% for i in messages %}
            <div class="alert alert-danger" role="alert">
                {{i}}
              </div>
            {% endfor %}
            <form action="#" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter Name ">
                  </div>
                <div class="mb-3">
                  <label for="username" class="form-label">User Name</label>
                  <input type="text" class="form-control" name="username" placeholder="Enter User Name ">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter Email Id ">
                  </div>
                  <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" name="phone" placeholder="Enter Phone Number ">
                  </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password" placeholder="Enter Password">
                </div>
                <div class="mb-3">
                    <label for="actype" class="form-label">Account Type</label>
                    <select name="actype" class="form-control">
                        <option value="seller">Seller</option>
                        <option value="buyers">Buyers</option>
                    </select>
                  </div>
                <button type="submit" class="btn btn-primary w-100">Signup</button>
                <a href="/login/">Already User?Login</a>
              </form>
        </div>
    </div>
</div>
{% endblock %}